/* 
    CSS Reset 
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    list-style-type: none;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%; /* Stop image overflow container */
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
a {
    text-decoration: none;
}
/* 
End of reset 
*/

/*
CSS Custom Properties
*/
:root {
    --header-bg-color: #23706c;
    --header-text-color: #ffffff;
    --side-panel-bg-color: #66e4e2;
    --side-panel-text-color: #29393d;
    --main-bg-color: #27c4be;
    --main-text-color: #dfffff;
    --highlight-color: #154b48;
    --hover-color: #6ab8cc;
    --system-ui: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
}
/*
End of CSS custom properties
*/
@font-face {
    font-family: "Aller";
    src: url(fonts/aller_rg-webfont.woff2) format("woff2");
}
body {
    color: var(--main-text-color);
    font-size: clamp(12px, calc(0.5rem + 0.5vw), 72px); 
    background-color: var(--header-bg-color);
    font-family: "Aller", var(--system-ui);
}

.main-wrapper {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 4fr;
    grid-template-rows: min-content 1fr;
    min-height: 100vh;
}
svg {
    width: 1.5em;
    fill: var(--header-text-color);
}
.header, h1, h2, h3 {
    color: var(--header-text-color);
}
.profile-picture {
    width: 55px;
    border-radius: 50%;
}

.header {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1.6fr 1fr;
    font-weight: bold;
    background-color: var(--header-bg-color);
    padding: clamp(1em, 2vw, 4em);
    gap: clamp(1.25em, 2.5vw, 4em);
    button {
        background-color: var(--main-bg-color);
        font-weight: bold;
        font-size: 1.3em;
        border: none;
        border-radius: 45px;
        width: 12ch;
        height: 4.5ch;
        margin: 0px 0.3em;
        color: inherit;
    }
    button:hover {
        cursor: pointer;
        box-shadow: -3px 3px 3px var(--highlight-color), 3px -3px 3px var(--highlight-color);
    }
    button:active {
        cursor: pointer;
        box-shadow: inset -1px 3px 2px var(--highlight-color), inset 1px -3px 2px var(--highlight-color);
    }
    div {
        display: flex;
        align-items: center;
    }
    div:nth-child(1) {
        gap: 1em;
        svg {
          min-width: 2.5em; 
        }
        svg:hover {
            cursor: pointer;
        }
        input,
        input:active,
        input:focus,
        input:autofill  {
            border: none;
            outline: none;
            background-color: var(--main-bg-color);
            width: 100%;
            min-width: 35ch;
            height: 2.5rem;
            border-radius: 20px;
            padding-left: 2.5ch;
            padding-right: 1ch;
            font: inherit;
            color: inherit;
        }
        input * {
            font-weight: bold;
            font-size: inherit;
        }
        input:-webkit-autofill,                         
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            border: none;
            -webkit-text-fill-color: var(--main-text-color);
            -webkit-box-shadow: 0 0 0px 1000px var(--main-bg-color) inset;
        }          
        input:hover {
            box-shadow: 0px 0px 5px rgb(99, 99, 99), inset 0px 0px 5px rgb(99, 99, 99);
        }
    }
    div:nth-child(2) {
        justify-content: end;
        gap: 2vw;
        margin-right: 3vw;
        font-size: 1.5em;
    }
    p {
        margin-left: 1.8vw;
        span:first-child {
            display: block;
            font-size: 1.25em;
        }
        span:nth-child(2) {
            font-size: 2em;
            line-height: 1;
        }
    }
    div:nth-child(4) {
        display: flex;
        justify-content: space-evenly;
    }
    .profile-picture.main {
        width: 85px;
    }
}

.sidebar {
    background-color: var(--side-panel-bg-color);
    color: var(--side-panel-text-color);
    grid-row-start: 1;
    grid-row-end: 3;
    .sticky-container {
        display: grid;
    grid-template-rows: 4.5em min-content 1fr;
    padding: max(1em, 1.5vw);
    padding-top: max(2em, 2.5vw);
    gap: max(4em, 5vw);
    font-weight: bold;
    }

}

.sidebar-item.logo-container {
    display: flex;
    align-items: center;
    gap: 1em;
    height: 4.5em;
    p {
        font-size: 1.8em;
        line-height: 1.1;
        font-weight: bold;
    }
    a {
        display: inline-block;
        flex-basis: 4em; /* Stops p element movement if logo image fails to load */
        flex-shrink: 0;
    }
}
.sidebar-item:not(.logo-container) {
    a {
        color: inherit;
        width: min-content;
        display: grid;
        grid-template-columns: 1.4em min-content;
        grid-auto-rows: 1.75em;
        font-size: 1.5em;
        align-items: center;
        gap: 1.2em;
        text-decoration: none;
        position: relative;
        margin-left: 11px;
    }
    svg {
        fill: var(--side-panel-text-color);
    }
    a:hover {
        text-decoration-color: var(--side-panel-text-color);
    }   
    
    /* Underline slide in */
    a::after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: -1px;
        width: 100%;
        height: 2px;
        background-color: var(--side-panel-text-color);
        transition: transform 200ms;
        transform: translate3d(-100%, 0, 0);
    }
    a {
        overflow: hidden;
    }
    a:hover::after{
        transform: translate3d(0, 0, 0);
    }
    /* End slide in */
}


.main-content-container {
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 2.5fr 1fr;
    padding: max(1.5em, 3vw) clamp(0.7em, 2vw, 95px);
    padding-bottom: 5vw;
    /* For a uniform gap and margin */
    --gap: max(1.25rem, 1.5vw);
    row-gap: var(--gap);
    column-gap: 2vw;
    .main-content-sidebar > section > h1 {
        margin-bottom: var(--gap);
    }
    h1 {
        font-size: 2.15em;
        line-height: 1;
        font-weight: bold;
    }
    .card-container {
       display: grid;
       gap: max(1em, 2vw);
       grid-template-rows: repeat(3, minmax(15em, 1fr));
       grid-template-columns: 1fr 1fr;
       .card {
        padding: 1.75em 1.25em;
        padding-right: 1em;
        padding-left: 1.5em;
        border-radius: 10px;
        background: linear-gradient(.25turn, var(--highlight-color) 8px, 0%, var(--header-bg-color));
        display: flex;
        flex-direction: column;
        font-size: 1.25em;
        gap: max(0.2em, 5px);
        h1 {
            line-height: 1.3;
            font-size: 1.2em;
        }
        menu {
            margin-top: auto;
            display: flex;
            gap: 1.5em;
            justify-content: end;
            align-items: center;
            height: min-content;
            li {
                display: flex;
            }
            button {
                border: none;
                height: min-content;
                padding: 0;
                background: none;
                width: 2rem;
                height: 2rem;
            }
            button:hover {
                cursor: pointer;
                svg:hover {
                    width: 1.9em;
                }
                svg:active {
                    width: 1.7em;
                }
            }
        }
       }
    }

    .main-content-sidebar {
        grid-row-start: 1;
        grid-row-end: span 2;
        grid-column-start: 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: max(1em, 2vw);
        section {
            display: grid;
            grid-template-rows: min-content 1fr;
        }
        menu {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
            background-color: var(--header-bg-color);
            border-radius: 10px;
            padding: 1.3em 1.5em;
            li:hover {
                background-color: var(--hover-color);
                border-radius: 10px;
            }
        }
        menu.announcements {
            span {
                height: 1px;
                background-color: rgb(200, 200, 200);
                margin: 0.3em 0px;
            }
            li {
                padding: 1.5em;
            }
        }
        menu a {
            text-decoration: none;
        }
        menu.announcements h2 {
            font-weight: bold;
            font-size: 1.25em;
        }
        menu.announcements p {
            color: var(--main-text-color);
            font-size: 1em;
        }

        menu.trending {
            li {
                padding: 1em 0.75em;
            }
            li > a {
                display: flex;
                color: inherit;
                div {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    line-height: 1;
                    min-width: 10ch;
                    span {
                        font-size: 1.05em;
                        line-height: 1.5;
                    }
                    p {
                        font-size: 1.15em;
                    }
                }
            }
            
            img {
                border-radius: 50%;
                width: 75px;
                height: 75px;
                margin-right: 1em;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .header {
        position: sticky;
        position: -webkit-sticky;
        left: 0;
        top: -16em;
        row-gap: 2.25em;
        padding: 3em 1.5em clamp(1em, 2vw, 4em);
        transition: 0.5s;
    }
    .header.show {
        top: -25em;
    }
    .main-wrapper .header .header-item button {
        width: 9ch;
    }
    .main-wrapper {
        grid-template-columns: initial;
        grid-template-rows: initial;
    }
    .main-content-container {
        grid-template-columns: 1fr;
        padding-top: 3.5em;
    }
    .main-content-container > div.card-container {
        grid-template-columns: 1fr;
        grid-template-rows: initial;
    }
    .main-content-container > .main-content-sidebar { 
        grid-row-start: initial;
        grid-row-end: inherit;
        grid-column-start: initial;
        menu{
            min-width: 200px;
            padding: 1.3em 0.8em;
        }
    }
    div.main-wrapper > div.header {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        div:nth-child(1) {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
        }
        div:nth-child(2) {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
            img {
                display: none;
            }
            span {
                display: none;
            }
        }
        div:nth-child(3) {
            grid-row: 1 / 2;
            grid-column: 1 / 3;
        }
        div:nth-child(4) {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
        }
        #navToggle {
            margin-right: 0.2em;
        }
        svg {
            width: 1.5em;
            max-width: none;
        }
        .header-item button {
            margin: 0 0.2em;
        }
    }
    .sidebar {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        position: fixed;
        top: 0;
        left: -100%;
        min-height: 100%;
        width: 100%;
        transition: 0.5s;
        z-index: 1;
        font-size: 1.35em;
        gap: 2.2em;
        .logo-container .close-btn {
            flex-basis: auto;
            margin-left: auto;
            font-size: 3.5rem;
            color: inherit;
            display: initial;
        }
    }
}

@media only screen and (min-width: 1100px) {
    .sidebar {
        .logo-container .close-btn{
            display: none;
        }
    }
    #navToggle {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    .header {
        top: -15.7em;
        padding: 1em;
    }
    .main-wrapper .header .header-item button {
        width: 6.75ch;
        border-radius: 20px;
        height: 2.5em;
    }
}

@media only screen and (max-height: 650px) {
    .sidebar {
        font-size: 1em;
    }
}

@media only screen and (max-height: 470px) {
    .sidebar {
        font-size: 0.8em;
        .sticky-container {
            gap: 2em;
        }
    }
}
